<header class="three">
    <div class="one">
        <a href="/">Home</a>
        <a href="/blog">Blog Page</a>
    </div>

    <h1>My Blog Page</h1>

    <div class="two">
        <a href="/login">Login</a>
        <a href="/sign">Sign-in</a>
    </div>
</header>
