<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include("partials/header2") %>

    <div class="container">

      <form id="editForm" method="post" action="/edit2/<%= post.id %>">
        <input type="text" name="title" value="<%=post.title %>">
        <textarea name="content" rows="10"><%=post.content %></textarea>
        <button class="full-width" type="submit">
          submit
        </button>
      </form>

    </div>

</body>
</html>



