<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include("partials/header2") %>
      <div class="container">
        <form id="newPostForm" method="post" action="/compose">
          <input type="text" name="title" placeholder="Title" required>
          <textarea name="content" placeholder="Content" required rows="10"></textarea>
          <button class="full-width" type="submit">
            submit
          </button>
        </form>
      </div>
</body>
</html>

