<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include("partials/header") %>

    <form action="/signup" method="POST" class="login-form">

        <h2 class="head">Signup</h2>

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="name" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Signup</button>

    </form>

</body>
</html>